<h2>Login</h2>
<%= form_for @user, url: login_path, method: :post  do |f| %>
  <%= f.email_field :email, :placeholder => "Email" %>
  <%= f.password_field :password, :placeholder => "Password" %>
  <%= f.submit %>
<% end %>
<h2>Create Account</h2>
<%= form_for @user do |f| %>
  <%= f.text_field :name, :placeholder => "User Name" %>
  <%= f.email_field :email, :placeholder => "Email" %>
  <%= f.password_field :password, :placeholder => "Password" %>
  <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
  <%= f.submit %>
<% end %>
